/* vars */

:root {
  --gap-number: 10px;
  --first-color: #02c76e;
  --cream-color: #f8f2e1;
  --yellow-light-color: #ffe59d;

  --red-color: #fd7463;
  --text-color: #333;
  --black-color: #000000;
  --white-color: #ffffff;
  --font-size: 11px;
  --font-family: "Montserrat", sans-serif;
  --sora-family: "Sora", sans-serif;
  --border-radius: 15px;
  --box-shadow: 10px 10px 40px 1px rgba(0, 0, 0, 0.21);
}

/* Reset */

html {
  box-sizing: border-box;
  font-size: var(--font-size);
  font-family: var(--font-family);
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Structure */
body {
  background: var(--white-color);
}

body#home .hero-foot {
  background-color: var(--first-color);
  height: 140px;
  margin-top: -140px;
}

h2 {
  font-family: var(--black-color);
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 44px;
  padding: 30px 0;
  text-align: center;
}

h3 {
  font-family: var(--black-color);
  font-weight: 700;
  font-size: 18px;
}

/* header */
header {
  background: var(--yellow-light-color);
}

/* nav */

nav .navbar-brand img {
  width: 200px;
}

nav .nav-link {
  font-size: 15px;
  color: var(--black-color);
}

nav .ms-auto {
  font-weight: bold;
}

nav .ms-auto li:nth-child(2) a {
  border: 2px solid var(--black-color);
  background-color: transparent;
  line-height: 26px;
  font-size: 14px;
  border-radius: 30px;
  text-align: center;
  padding: 3px 15px;
}

nav .ms-auto li:nth-child(3) a {
  border: 2px solid var(--black-color);
  background-color: var(--first-color);
  line-height: 26px;
  font-size: 14px;
  border-radius: 30px;
  text-align: center;
  padding: 3px 15px;
}

/* hero */
.hero {
  font-family: var(--sora-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 50px;
}

.hero h1 {
  padding-top: 100px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
}

.hero .btn {
  margin: 25px 0 10px;
}

.hero span {
  font-size: 12px;
}

/* sections */
.swiper-logos .swiper-slide {
  text-align: center;
  width: auto;
}

.swiper-logos .swiper-slide img {
  filter: saturate(0);
  opacity: 0.6;
  margin: 0 auto;
}

.swiper-logos .swiper-slide img:hover {
  opacity: 1;
  filter: saturate(1);
}

.box {
  border-radius: 40px;
  margin: 80px 0;
}

.b-yellow {
  background-color: var(--yellow-light-color);
}

.b-green {
  background-color: #d9fccf;
}

.b-blue {
  background-color: #e0eaff;
}

.box .box-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  padding: 0 10%;
  font-family: var(--sora-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.box .box-content ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.box .box-content ul li {
  margin: 0 20px 20px 0;
  padding: 5px;
  cursor: pointer;
}

.box .box-content ul li.active {
  border-bottom: 2px solid blue;
}

/* footer */

footer {
  background: var(--black-color);
  color: var(--white-color);
  padding: 60px 0;
  font-size: 14px;
}

footer .logo-blanco {
  width: 200px;
}

footer h3 {
  padding-bottom: 20px;
  font-family: var(--font-family);
  font-weight: bold;
}

footer a {
  font-family: var(--sora-family);
  color: var(--white-color);
  display: block;
  text-decoration: none;
}

footer a:hover {
  color: var(--white-color);
  text-decoration: underline;
}

footer a.mailto {
  color: #eeb943;
}

footer .wrap-rrss {
  display: flex;
  padding-top: 20px;
  gap: 10px;
}

/* misc */
.btn-primary {
  background-color: var(--first-color);
  border: 0;
  line-height: 40px;
  height: 40px;
  border-radius: 20px;
  padding: 0 25px;
  color: var(--black-color);
  font-size: 14px;
  font-weight: bold;
}

@media screen and (orientation: portrait) {
}
