/*
Recursos:
https://placeholder.com/
https://fonts.google.com/
https://www.cssmatic.com/box-shadow

*/

:root {
  --gap-number: 10px;
  --first-color: #6eceb2;
  --secundary-color: #0771bd;
  --red-color: #fd7463;
  --text-color: #333;
  --font-size: 11px;
  --font-family: "Poppins", sans-serif;
  --border-radius: 15px;
  --box-shadow: 10px 10px 40px 1px rgba(0, 0, 0, 0.21);
}

/* Reset */

html {
  box-sizing: border-box;
  font-size: var(--font-size);
  font-family: var(--font-family);
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Structure */
body {
  background: #fff;
  color: var(--text-color);
  font-size: var(--font-size);
}

/* Responsive */
@media screen and (orientation: portrait) {

}